@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rebond Grotesque";
  src: url("/fonts/Rebond Grotesque Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rebond Grotesque";
  src: url("/fonts/Rebond Grotesque Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rebond Grotesque";
  src: url("/fonts/Rebond Grotesque.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rebond Grotesque";
  src: url("/fonts/Rebond Grotesque Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rebond Grotesque";
  src: url("/fonts/Rebond Grotesque Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rebond Grotesque";
  src: url("/fonts/Rebond Grotesque Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --foreground-rgb: ;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  color: rgb(var(--foreground-rgb));
  background: #181818;
  font-family: "Rebond Grotesque", sans-serif;
}
/* scroll bar */
body::-webkit-scrollbar {
  width: 10px;
  background: #181818;
}

/* This will change the scrollbar thumb (the moving part) */
body::-webkit-scrollbar-thumb {
  background: #8efe49; /* color of the scrollbar thumb */
  border-radius: 10px; /* roundness of the scrollbar thumb */
}

/* This will change the scrollbar thumb when it's hovered */
body::-webkit-scrollbar-thumb:hover {
  background: #8efe49; /* color of the scrollbar thumb when hovered */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.neomorphic-header {
  background: transparent;
  box-shadow: -42px 42px 100px #0a0a0a, 42px -42px 100px #262626;
}

.neomorphic-card {
  background: linear-gradient(145deg, #16181a, #131416);
  /* box-shadow: 2px 2px 38px #000000, -2px -2px 32px #343940, inset -6px -6px 68px rgba(41, 45, 50, 0.5); */
  box-shadow: 5px 5px 10px #0b0c0d, -5px -5px 10px #1f2023;
}
.neomorphic-card:hover {
  background: linear-gradient(145deg, #131416, #16181a);
  box-shadow: 5px 5px 10px #0b0c0d, -5px -5px 10px #1f2023;
  transition: 0.4s;
}

.neomorphic-eco {
  background: linear-gradient(145deg, #16181a, #131416);
  box-shadow: 2px 2px 38px #000000, -2px -2px 32px #343940,
    inset -6px -6px 68px rgba(41, 45, 50, 0.5);
  /* box-shadow: 5px 5px 10px #0b0c0d, -5px -5px 10px #1f2023; */
}
.neomorphic-eco:hover {
  background: linear-gradient(145deg, #131416, #16181a);
  box-shadow: 5px 5px 10px #0b0c0d, -5px -5px 10px #1f2023;
  transition: 0.4s;
}
.neomorphic-terminal {
  background: #161616;
  box-shadow: 18px -18px 36px #0a0a0a, -18px 18px 36px #222222;
}

.neomorphic-roadmap {
  background: linear-gradient(225deg, #141414, #181818);
  box-shadow: -26px 26px 72px #0e0e0e, 26px -26px 72px #1e1e1e;
  transition: all 0.3s ease, box-shadow 0.3s ease;
}
.neomorphic-roadmap:hover {
  background: linear-gradient(225deg, #181818, #141414);
  box-shadow: -26px 26px 72px #0e0e0e, 26px -26px 72px #1e1e1e;
}

.header-bg {
  background-image: url("/images/header-bg.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 101px;
  filter: drop-shadow(3px 2px 20px rgb(0 0 0 / 0.4));
}

.button-bg {
  background-image: url("/images/button-bg.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.roadmap-bg {
  position: relative;
  z-index: 1;
  border-radius: 12px;
}
.roadmap-bg::after {
  position: absolute;
  border-radius: 12px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-image: url("/images/roadmap-bg.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.rl-green-border {
  background-image: url("/images/right-left-green-border.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.integration-border {
  position: relative;
  background-size: 100%;
  z-index: 1;
}
.integration-border::after {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-image: url("/images/inigration-green-border.png");
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  z-index: -1;
}
.achievement-border {
  position: relative;
  background-size: 100%;
  z-index: 1;
}
.achievement-border::after {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-image: url("/images/green-border-bg.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.achievement-mar-border {
  position: relative;
  background-size: 100%;
  z-index: 1;
}
.achievement-mar-border::after {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-image: url("/images/rl-green.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
.line-bg {
  background-image: url("/images/green-line.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.bento-grid-border {
  background-image: url("/images/bento-grid-border.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.terminal-bg {
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
  z-index: 1;
}
.terminal-bg::after {
  position: absolute;
  height: 100%;
  top: 0;
  border-radius: 12px;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-image: url("/images/terminal-bg.png");
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  z-index: -1;
}

.animated-button {
  position: relative;
  transition: transform 0.3s ease;
}

.animated-button:hover {
  transform: translateY(0);
}

.animated-button::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  z-index: -1;
  transition: transform 0.3s ease;
}

.animated-button:hover::before {
  transform: translateY(10px);
}

.bento-bg {
  content: "";
  /* background-size: cover; */
  position: relative;
  /* background-position: center;
  background-repeat: no-repeat; */
  z-index: 0;
  /* filter: grayscale(1);
  transition: filter 0.5s ease; */
  /* background-image: url("/images/bento-bg.png"); */
}

.bento-bg::after {
  position: absolute;
  height: 100%;
  padding: 1px;
  top: 0;
  border-radius: 12px;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-image: url("/images/bento-grid-border.png");
  background-size: 100% 100%;
  background-position: top;
  background-repeat: no-repeat;
  z-index: 1;
  filter: grayscale(0);
}
.bento-bg-long {
  content: "";
  background-size: cover;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
}
.bento-bg-long::after {
  position: absolute;
  height: 100%;
  padding: 1px;
  top: 0;
  border-radius: 12px;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-image: url("/images/bento-border-long.png");
  background-size: 100% 100%;
  background-position: top;
  background-repeat: no-repeat;
  z-index: 1;
}
.bento-bg-wide {
  content: "";
  background-size: cover;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
}
.bento-bg-wide::after {
  position: absolute;
  height: 100%;
  padding: 1px;
  top: 0;
  border-radius: 12px;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-image: url("/images/bento-border-wide.png");
  background-size: 100% 100%;
  background-position: top;
  background-repeat: no-repeat;
  z-index: 1;
}
@media not all and (min-width: 768px) {
  .terminal-bg::after {
    background-image: url("/images/mobile-terminal-bg.png");
  }
  .roadmap-bg::after {
    background-image: url("/images/mobile-roadmap-bg.png");
  }
  .neomorphic-eco {
    background: linear-gradient(145deg, #141414, #181818);
    box-shadow: 5px 5px 5px #0d0d0d, -5px -5px 5px #1f1f1f;
  }
  .neomorphic-eco:hover {
    background: linear-gradient(145deg, #181818, #141414);
    box-shadow: 5px 5px 5px #0d0d0d, -5px -5px 5px #1f1f1f;
    transition: 0.4s;
  }
  .header-bg {
    background-image: url("/images/mobile-header-bg.svg");
    height: 59px;
  }
  .bento-bg-wide::after {
    background-image: url("/images/bento-grid-border.png");
  }
}
